[buildout]
develop = .
parts = py test coverage-test coverage-report

[test]
recipe = zc.recipe.testrunner
eggs = zope.pagetemplate [test]

[py]
recipe = zc.recipe.egg
eggs = zope.pagetemplate
interpreter = py

[coverage-test]
recipe = zc.recipe.testrunner
eggs = zope.pagetemplate [test]
defaults = ['--coverage', '../../coverage']

[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coverage=coverage-report
arguments = ('coverage', 'coverage/report')
